* {
    margin:0;
    padding:0;
}

body{
 background-color:  #2F4454;
 color:darkgray;
}

.main-container{
    display:flex;
    flex-direction: column;
    align-items: center;  
}

.title{
    text-align: center;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    width: 1500px;
    height: 100px; 
    align-items: center;
}

.ellipsis{
    display:flex;
    flex-direction:column;
    line-height:10px ;
    height: 60px;
    width: 50px;
    font-size: 25px;
    align-items: center;
    background-color: #2F4454;
    padding: 0;
    border:none;
    background:none;
}

.dropdown-container{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown-content{
    display: none;
    position: absolute;
    top:60px;
    left: -145px;
    flex-direction: column;
    z-index: 1;
    cursor: pointer;
}

.dropdown-content div{
    display: block;
    border:solid 2px;
    height: 100px;
    width: 325px;
    background-color: black;
    color: darkgray;
    font-size: 30px;
    text-align: center;
}

.dropdown-container:hover .dropdown-content{
    display:block;
}

.account-dropdown{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.account-dropdown-content{
    display: none;
    position: absolute;
    top:50px;
    right: -20px;
    flex-direction: column;
    z-index: 1;
    cursor: pointer;
}

.account-dropdown-content div{
    display: block;
    border:solid 2px;
    height: 50px;
    width: 200px;
    background-color: black;
    color:darkgray;
    font-size: 20px;
    text-align: center;
}

.account-dropdown:hover .account-dropdown-content{
    display:block;
}

.switch{
    position: relative; 
    display: flex;
    width: 45px; 
    height: 10px;
    left: 70px;
    border: solid 2px; 
    justify-content: center;
    
}

.switch input{
    opacity: 0;
    width: 0; 
    height: 0; 
}

.slider{
    position: absolute;
    cursor: pointer; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: maroon; 
    -webkit-transition: .4s; 
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 10px; 
    width: 10px; 
    left: 4px; 
    bottom: 0px; 
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: teal;
}

input:focus + .slider{
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    
}

.slider .round{
    border-radius:50px;
}

.slider.round:before{
    border-radius: 50%;
}

.search{
    display: flex;
    flex-direction: row;
}

.icon{
    border-radius: solid black 2px;
    width: 75px;
    background-color: black;
    border-radius: 50px 0px 0px 50px;
}

.search-icon{
    display: flex;
   transform: scaleY(-1);
   justify-content:  center;
   height:50px;
   align-items: center;
}

.searchbar{
    width:500px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;  
    background-color: darkgray;
    color: black;
    font-size: 30px;
}

.use-app{
    height: 50px;
    width: 70px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #2F4454;
    padding:0;
    background:none;
    border: none;
}

.use-app:before{
    color: black;
}

.use-app:visited{
    color: darkgray;
}

.title-image{
    height:70px;
    width: 150px;
    border-radius: 50px;   
}

.log-in{
    width:100px;
    font-size: 30px;
    background-color:#2F4454;
    padding:0;
    background: none;
    border:none;
    color:black;
}

.circle-ellipsis{
    display: flex;
    height: 50px;
    width: 50px;
    font-size: 35px;
    justify-content: center;
    align-content: center; 
    background-image:url(/Assets/peony.avif);
    background-size: cover;
   border:none;
   border-radius: 50px;;
   
    padding:0;
}

.post-container{
    display:flex;
    flex-direction: column;
}

.post{
    height: 200px;
    display:flex;
    flex-direction: column;
    row-gap:10px;
    border:solid 2px #1C3334;
    width: 1000px;
    padding: 20px;
    background-color: #376E6F;
}


.top-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:60px;
}

.thread-post{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
}

.thread-info{
    display:flex;
    flex-direction: row;
    column-gap: 15px;
}

.userInfo{
    display:flex;
    flex-direction: row;
    column-gap: 20px;
}

.threadIcon{
    border-radius: 50px;
    height: 25px;
    width: 30px;
}

.author-info{
    display:flex;
    flex-direction: row;
    column-gap: 10px;
}

.author-image{
    height: 25px;
    width: 25px;
}



.middle-container{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center; 
}

.postImage{
    height: 90px;
    width: 150px;
}

.bottom-container{
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.vote-container{
    display:flex;
    flex-direction: row;
    font-size: 20px;
}

.up{
    display: flex;
    width: 40px;
    border: solid 2px #1C3334;
    border-radius: 10px 0px 0px 10px;
    font-size: 30px;
    height:44px;
    background-color: darkgray;
   justify-content: center;
   align-items: center;
   
}

.vote-track{
    display: flex;
    border: solid 2px #1C3334;
    width:70px;
    height: 40px;
    justify-content: center;
    align-items:end;
   font-size: 25px;
}

.down{
    display: flex;
    width:40px;
    border:solid 2px #1C3334;
    border-radius: 0px 10px 10px 0px;
   background-color: darkgray;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}

.join-icon{
    border: none;
    background-color: darkgray;
    height: 20px;
    width: 100px;
    border-radius: 50px;
}

